<section class="landing-hero">
  <div class="landing-title">
    <p class="slogan">The way to <span>Share Music</span></p>
    <p>Welcome to <span class="branding">We<span>Radio</span></span></p>
  </div>

  <div class="landing-splash">
    <img src="img/logo-no-text.png">
    <h2>Find a playlist for each moment of your life</h2>
    <h3>Made by your friends</h3>
    <form action="">
      <input type="text" id="js-autocomplete" placeholder="{{t 'playlist:create.namePlaceholder'}}">
      <button type="submit" class="search-playlist ui button primary">{{t "playlist:show.searchButton"}}</button>
    </form>
    <p>Or</p>
    <button class="large ui button primary float-shadow js-create-playlist">{{t "common.createPlaylistButton"}}</button>
  </div>
</section>
<section class="landing-features">

</section>
<section class="landing-description">

</section>
<footer class="landing-footer">

</footer>
