<section class="homeSlide first-slide">
  <div class="bcg"
       data-center="background-position:50% 0px;"
       data-top-bottom="background-position:50% -100px;"
       data-anchor-target="#slide1">
    <div class="hsContainer">
      <div class="hsContent"
           data-center="opacity: 1"
           data-106-top="opacity: 0"
           data-anchor-target="#slide1">
        <img src="img/logo.png">
        <p>
          <button class="pure-button pure-button-primary large float-shadow js-create-playlist">Create Playlist</button>
        </p>
      </div>
    </div>
  </div>
</section>
