<section id="slide1" class="homeSlide first-slide">
  <div class="bcg"
       data-center="background-position:50% 0px;"
       data-top-bottom="background-position:50% -100px;"
       data-anchor-target="#slide1">
    <div class="hsContainer">
      <div class="hsContent"
           data-center="opacity: 1"
           data-106-top="opacity: 0"
           data-anchor-target="#slide1">
        <img src="img/logo.png">
        <p>
          <button class="pure-button-primary large float-shadow js-create-playlist">Create Playlist</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="slide2" class="second-slide">
  <div class="bcg"
       data-0="background-color:rgb(1,27,59);"
       data-top="background-color:(0,0,0);"
       data-anchor-target="#slide2">
    <div class="hsContainer">
      <div class="hsContent middle">
        <h2 data-center="opacity: 1"
            data--200-bottom="opacity: 0"
            data-206-top="opacity: 1"
            data-106-top="opacity: 0"
            data-anchor-target="#slide2 h2">
          Create your playlist and share it with your friends!
        </h2>
      </div>
    </div>
  </div>
</section>
<section id="slide3" class="homeSlide third-slide">
  <div class="bcg"
       data-center="background-position: 0px 50%;"
       data-bottom-top="background-position: 0px 40%;"
       data-top-bottom="background-position: -40px 50%;"
       data-anchor-target="#slide3">
    <div class="hsContainer">
      <div class="hsContent middle">
        <div class="plaxEl"
             data-106-top="opacity: 0"
             data--30p-top="opacity: 1;"
             data--60p-top="opacity: 0;"
             data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"
             data-anchor-target="#slide3">
          <h2>Your own radio, right here, right now!</h2>
        </div>
      </div>
    </div>
  </div>
</section>