<section class="not-found pure-g-r">
  <h1 class="section-title pure-u-1-1">The requested playlist doesn&#39;t exists</h1>
  <div class="pure-u-1-1">
    <button class="js-create-playlist pure-button pure-button-primary">
      Create your own playlist
    </button>
    <button class="js-home pure-button pure-button-secondary">
      Return to home
    </button>
  </div>
</section>