<section class="not-found pure-g-r">
  <h1 class="section-title pure-u-1-1">{{t "playlist:notFound.header"}}</h1>
  <div class="pure-u-1-1">
    <button class="js-create-playlist pure-button pure-button-primary">
      {{t "playlist:notFound.createButton"}}
    </button>
    <button class="js-home pure-button pure-button-secondary">
      {{t "playlist:notFound.homeButton"}}
    </button>
  </div>
</section>