<section class="not-found">
  <h1 class="section-title">{{t "playlist:notFound.header"}}</h1>
    <button class="js-create-playlist ui button primary">
      {{t "playlist:notFound.createButton"}}
    </button>
    <button class="js-home ui button secondary">
      {{t "playlist:notFound.homeButton"}}
    </button>
</section>