<input type="checkbox" class="toggle-input" id="tm" />
<ul class="sidenav">
  <nav class="song-list"></nav>
</ul>
<section class="content-player">
  <div class="top-bar"></div>
  <section class="main-player"></section>
</section>