<header>
  <div class="home-menu pure-menu pure-menu-horizontal">
    <h2 class="pure-menu-heading" href="">Add Song to Playlist</h2>
  </div>
</header>
</div>
<div class="content-wrapper">
  <div class="content">
    <div>
      <div>
          <form class="pure-form">
              <fieldset class="l-box-lrg pure-u-1">
                  <input class="pure-input-1" name="playlist-name" type="url" placeholder="Enter the URL of the song" required>
                  <button class="js-add-song-playlist pure-button pure-button-primary">
                    Add song to Playlist!
                  </button>
                  <button class="js-cancel pure-button pure-button-secondary">
                    Cancel
                  </button>
              </fieldset>
          </form>
      </div>
    </div>
  </div>
</div>