main {
  height: 100%;
}

/* SPLASH HERO SECTION */

.landing-hero {
  height: 100%;
  color: #FFF;
  text-align: center;
  padding: 0 50px;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/bg.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-title {
  float: left;
  padding: 110px 0 25px;
  text-align: left;
}

.landing-title p {
  text-align: right;
  font-weight: 600;
  line-height: 0px;
}

.landing-title .slogan {
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  text-align: left;
  color: #575656;
}

.landing-title .slogan span {
  display: block;
  color: #FFF;
  font-size: 42px;
  line-height: 14px;
  padding-left: 23px;
  font-weight: 600;
}

.landing-splash {
  width: 100%;
  clear: both;
}

.landing-splash h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 8px 0 0;
}

.landing-splash h3 {
  color: #3F3F3F;
  text-transform: lowercase;
  margin-top: 0;
}

.landing-splash input[type=text] {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  padding: 30px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

.landing-splash input::-webkit-input-placeholder,
.landing-splash input::-moz-input-placeholder {
  color: #EEE;
}

/* PRODUCT FEATURES SECTION */

.landing-features {
  background: #FFF;
  padding: 30px 0 40px;
}

.ui.button.search-playlist {
  border-radius: 0;
  line-height: 1px;
  padding: 30px;
  vertical-align: bottom;
  margin-left: -4px;
}