main {
  height: 100%;
}

.homeSlide {
  height: 100%;
  min-height: 100%;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5{
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-1 {
  background-image: url('../img/01.jpg');
}

.bg-2 {
  background-image: url('../img/04.jpg');
}

.bg-3 {
  background-image: url('../img/Blur-1.png');
}

.bg-4 {
  background-image: url('../img/Blur-2.png');
}

.bg-5 {
  background-image: url('../img/Blur-3.png');
}

.first-slide .hsContent {
  padding-top: 120px;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}

.hsContent.middle {
  vertical-align: middle;
}

.hsContent h2,
.copy h2 {
  color: #FFF;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent p {
  width: 400px;
  margin: 50px auto;
  color: #b2b2b2;
}

.hsContent a {
  color: #b2b2b2;
  text-decoration: underline;
}
