html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  background: #10181B;
}

*, *:before, *:after {
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

body, button, input, textarea, a,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  /*font-family: 'Carrois Gothic', sans-serif !important;*/
  font-family: 'Montserrat', sans-serif !important;
}

input[type=text], textarea {
  border-radius: 0 !important;
  box-shadow: none !important;
  width: 30em;
  height: 34px;
}

textarea {
  height: 100px;
  resize: none;
}

button.pure-button {
  border: none;
  text-transform: uppercase;
  border-radius: 0;
  height: 3em;
}

button.pure-button-primary {
  background-color: #0086C8;
}

button.pure-button-primary.dark {
  background-color: #0573A8;
}

button.pure-button.large {
  width: 18em;
  height: 4em;
}

button.pure-button-primary:hover {
  background: #0c7aa7 none;
}

button.pure-button-secondary:hover {
  background-color: #AAA none;
}

button.pure-button-primary i {
   background-color: #0086C8;
}

.pure-button-secondary {
  background-color: #DDD;
}

.pure-form.pure-form-stacked {
  padding: 0 20px;
}

header .home-menu.pure-menu {
  height: 3em;
  line-height: 3em;
  background: #FFF;
}

header .home-menu .pure-menu-heading {
  color: #0086C8;
}

.invisible {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-height {
  height: 100%;
}

.logo {
  background: url("../img/logo-small.png");
  height: 40px;
  width: 134px;
  margin-left: 2em;
}

.section-title {
  font-size: 2em;
  font-weight: normal;
  color: #FFF;
}

.main {
  height: 98%;
  overflow: hidden;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 40em;
  height: 15em;
  margin: 10em auto;
  background: rgba(255, 255, 255, 0.5);
}

.modal-box .pure-form {
  width: 90%;
  margin: 20px auto;
}

.form-wrapper {
  padding: 2em;
  background: rgba(99, 153, 202, 0.5);
  margin: 0 auto;
}

.pure-form input[type=text],
.pure-form input[type=url]  {
  height: 2.7em;
  border-radius: 0;
  border: 0;
  font-size: 0.9em;
}

.pure-form input[name=playlist-name] {
  width: 100%;
  margin-bottom: .6em;
}

.pure-form textarea {
  height: 6em;
  font-size: .9em;
}

.top-menu {
  width: 100%;
}

.top-menu input[type=text] {
  width: 65.4%;
  border: none;
  height: 2.9em;
  padding-left: 1.4em;
}

.top-menu .fa.fa-search {
  position: relative;
  left: 1.3em;
}

.top-menu .pure-button-primary,
.top-menu .pure-button-secondary {
  height: 3em;
  float: right;
  border-radius: 0;
}

.twitter-share-button {
  position: absolute;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }

  section {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  section > img {
    width: 150px;
  }
}
