html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  overflow: auto;
  background: #10181B;
}

*, *:before, *:after {
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

body, button, input, textarea, a {
  font-family: 'Montserrat', sans-serif !important;
}

input[type=text], textarea {
  border-radius: 0 !important;
  box-shadow: none !important;
  width: 30em;
  height: 36px;
}

textarea {
  height: 100px;
  resize: none;
}

.ui.button {
  border: none;
  text-transform: uppercase;
  border-radius: 0;
}

.primary.dark {
  background-color: #0573A8;
}

.large {
  width: 18em;
  height: 4em;
}

.ui.button.primary {
  background-color: #00627F;
  height: 3em;
}

.ui.button.primary:hover {
  background: #0c7aa7 none;
}

.ui.button.secondary:hover {
  background-color: #AAA none;
}

.ui.button.primary i {
  background-color: transparent;
  margin-left: .5em;
  vertical-align: middle;
}

.ui.button.secondary {
  background-color: #DDD;
  height: 3em;
}

header .home-menu {
  height: 3em;
  line-height: 3em;
  background: #FFF;
}

header .home-menu {
  color: #0086C8;
}

.invisible {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-height {
  height: 100%;
}

.logo {
  background: url("../img/logo-small.png");
  height: 40px;
  width: 134px;
  margin-left: 2em;
}

.section-title {
  font-size: 2em;
  font-weight: normal;
  color: #FFF;
}

.main {
  height: 98%;
  overflow: auto;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 40em;
  height: 15em;
  margin: 10em auto;
  background: rgba(255, 255, 255, 0.5);
}

.modal-box .form {
  width: 90%;
  margin: 20px auto;
}

.top-menu {
  width: 100%;
}

.top-menu input[type=text] {
  width: 65.4%;
  border: none;
  height: 2.9em;
  padding-left: 1.4em;
}

.top-menu .fa.fa-search {
  position: relative;
  left: 1.3em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }

  section {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  section > img {
    width: 150px;
  }
}
