<section class="create">
  <header>
    <div class="home-menu pure-menu pure-menu-horizontal">
      <div class="logo"></div>
    </div>
  </header>
  <div class="content-wrapper">
    <div class="content">
      <div class="pure-g-r">
        <!--div class="section-title l-box-lrg pure-u-1-2">
          <h1>Create Playlist</h1>
        </div-->
        <div class="form-wrapper l-box-lrg pure-u-1-2">
            <form class="pure-form pure-form-stacked">
                <fieldset class="l-box-lrg pure-u-1">
                    <input class="pure-input-1" name="playlist-name" type="text" placeholder="Enter the playlist name">
                    <textarea class="pure-input-1"  name="playlist-description" type="text" placeholder="Enter a description"></textarea>
                    <div class="autocomplete">
                      <input class="pure-input-1 autocomplete-input tags-input" name="playlist-tags" type="text" placeholder="Enter a tag" />
                      <a href="#" class="pure-button pure-button-primary autocomplete-button add-tag"><i class="fa fa-plus"></i></a>
                      <div class="tags-container"></div>
                    </div>
                    <button class="js-create-playlist pure-button pure-button-primary">Create Playlist! <i class="fa fa-plus"></i></button>
                </fieldset>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
