<section class="create">
  <header>
    <div class="home-menu ui menu">
      <div class="logo"></div>
    </div>
  </header>
  <div class="ui page grid">
    <form class="ui form segment one column">
      <div class="field">
        <input name="playlist-name" type="text" placeholder="{{t 'playlist:create.namePlaceholder'}}">
      </div>
      <div class="field">
        <textarea name="playlist-description" type="text" placeholder="{{t 'playlist:create.descriptionPlaceholder'}}"></textarea>
      </div>
      <div class="field">
        <div class="autocomplete">
          <input class="autocomplete-input tags-input" name="playlist-tags" type="text" placeholder="{{t 'playlist:create.tagPlaceholder'}}" />
          <a href="#" class="ui button autocomplete-button add-tag"><i class="fa fa-plus"></i></a>
          <div class="tags-container"></div>
        </div>
      </div>
      <div class="field">
        <button class="js-create-playlist ui button primary">{{t "common.createPlaylistButton"}}<i class="fa fa-plus"></i></button>
      </div>
    </form>
  </div>
</section>
