<a href="http://twitter.com/share?text={{t 'playlist:show.twitterMessage'}}&url={{encodedShareUrl}}&hashtags=#WeRadio" target="_blank">
  <i class="fa fa-twitter">{{t "playlist:show.shareInTwitterButton"}}</i>
</a>
<input type="text" value="{{shareUrl}}">