<div class="pure-g-r top-menu home-menu pure-menu pure-menu-horizontal">
  <div class="pure-u-1-5">
    <div class="logo"></div>
  </div>
  <div class="pure-u-4-5 pure-g-r">
    <div class="search-bar pure-u-3-5">
    </div>
    <div class="navigation pure-u-2-5">
      <button class="pure-button pure-button-primary js-create-list">
        Create Playlist
        <i class="fa fa-plus"></i>
      </button>
      <button class="pure-button pure-button-secondary js-share-btn">
        Share
        <i class="fa fa-share-square-o"></i>
      </button>
    </div>
  </div>
</div>
