<div class="top-menu home-menu pure-menu pure-menu-horizontal">
  <div class="list-btn left">
    <label class="list-icon" for="tm">
    </label>
  </div>
  <div class="left">
    <div class="logo"></div>
  </div>
  <div class="navigation right">
      <button class="pure-button pure-button-primary js-create-list">
        {{t "common.createPlaylistButton"}}
        <i class="fa fa-plus"></i>
      </button>
       <button class="pure-button pure-button-primary dark js-add-song">
        {{t "playlist:show.addSongButton"}}
        <i class="fa fa-plus"></i>
      </button>
      <button class="pure-button pure-button-secondary js-share-btn">
        {{t "playlist:show.shareButton"}}
        <i class="fa fa-share-square-o"></i>
      </button>
  </div>
</div>
