{{#if thumbnail }}
  <div class="song-item song-item-selected">
    <div class="image left">
        <img class="song-avatar" alt="" src="{{thumbnail}}">
    </div>
    <div class="content left">
        <h5 class="song-name">{{title}}</h5>
        <p class="song-desc">
        </p>
    </div>
  </div>
{{/if }}
