<header>
  <i class="fa fa-th-list"></i>
  {{name}}
</header>
<div class="list-viewport">
  <ul></ul>
</div>
<button class="js-add-song btn-fixed-bottom pure-button pure-button-primary pure-u-5-5">Add Song <i class="fa fa-plus"></i></button>
