<header>
  <section>
    <label class="left close-icon" for="tm">
    </label>
    <section class="left">
      {{name}}
    </section>
  </section>
</header>
<div class="list-viewport">
</div>
<button class="js-add-song btn-fixed-bottom pure-button pure-button-primary pure-u-5-5">
  <span>{{t "playlist:show.addSongButton"}}</span>
  <i class="fa fa-plus"></i>
</button>
